<!-- FOOTER FIELD -->

<div class="container divFooter">
    <div class="row">
        <div class="col-sm-7">
            <!-- textDecoration moreOption -->
            <a class="colorTitle2 textDecoration" href="https://wa.me/5548984333839"><img class="smallImage"
                    src="./assets/whatsapp.png" alt="WhatsApp">+55 (48) 98433-3839</a>
        </div>
        <div class="col-sm-3">
            <a class="colorTitle2 textDecoration" href="mailto:diegoprudencioo@gmail.com"><img class="smallImage"
                    src="./assets/email.png" alt="Email">diegoprudencioo@gmail.com</a>
        </div>
        <div class="col-sm-1">
            <a class="colorTitle2" href="https://www.linkedin.com/in/diego-prudencio"><img class="imagePage"
                    src="./assets/linkedinDark.png" alt=""></a>
        </div>
        <div class="col-sm-1">
            <a class="colorTitle2" href="https://github.com/DiegoPrudencio"><img class="imagePage"
                    src="./assets/githubDark.png" alt=""></a>
        </div>
    </div>
</div>

<div class="container">
    <!-- <h6 class="line">
        _______________________________________________________________________________________________________________________________________________
    </h6> -->
    <hr class="line">
</div>

<div class="container menuFooter">
    <div class="row">
        <div class="col-md-1">
            <a class="colorTitle1 nav-link" routerLink="/home" autoscroll="true">Home</a>
        </div>
        <div class="col-md-1">
            <a class="colorTitle1 nav-link" routerLink="/about">About</a>
        </div>
        <div class="col-md-1 space">
            <a class="colorTitle1 nav-link" routerLink="/techstack">Tech Stack</a>
        </div>
        <div class="col-md-1">
            <a class="colorTitle1 nav-link" routerLink="/projects">Projects</a>
        </div>
        <div class="col-md-1">
            <a class="colorTitle1 nav-link" routerLink="/contact">Contact</a>
        </div>

        <div class="col-md-7 align">
            <img class="logoImage" src="./assets/dapLogoDark.png" alt="">
        </div>

    </div>

</div>
