<div class="divTitle4">
    <p class="colorTitle2 fontSize2">Contacts</p>
    <!-- <p class="colorTitle1 fontSize3">Things Ive built so far</p> -->
</div>

<div class="directContact">
    <div class="row">
        <div class="col-sm-4">
            <!-- textDecoration moreOption -->
            <a class="colorTitle2 textDecoration" href="https://wa.me/5548984333839"><img class="smallImage"
                    src="./assets/whatsapp.png" alt="WhatsApp">+55 (48) 98433-3839</a>
        </div>
        <div class="col-sm-4 emailMargin">
            <a class="colorTitle2 textDecoration" href="mailto:diegoprudencioo@gmail.com"><img class="smallImage"
                    src="./assets/email.png" alt="Email">diegoprudencioo@gmail.com</a>
        </div>

    </div>
</div>

