<!-- ABOUT FIELD -->

<div class="divBox">
    <div>
        <p class="colorTitle2 fontSize2 marginTitle">About Me</p>
    </div>
    <div>
        <p class="colorTitle1 fontSize4 decor">I'm starting a new path in my life and I've decided that it will be 
            in the area of technology. I'm still in the knowledge phase, searching for information and courses that 
            can help me in the introduction and insertion in this world. I look for internships and training programs 
            so that I can improve myself even more in this area that grows and changes every moment.</p>
    </div>

</div>


<div class="divBox">
    <div>
        <p class="colorTitle2 fontSize2 marginTitle">Work Experience</p>
    </div>

    <div class="jobs">
        <div class="job">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Physiotherapist</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Part-time</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/company.png" alt="Company">Espaço Nfisio <img class="locationImage" src="./assets/location.png" alt="Location"> Florianópolis</p>
                </div>

                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Nov 2020 - Jan 2022</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

        <div class="job">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Substitute Professor</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Part-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/company.png" alt="Company">UDESC<img class="locationImage" src="./assets/location.png" alt="Location"> Florianópolis</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Sep 2019 - Dec 2022</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

        <div class="job">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Cashier</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2 secondPart">Full-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/company.png" alt="Company">Esquimó Sorvetes<img class="locationImage" src="./assets/location.png" alt="Location"> Palhoça</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Nov 2016 - Fev 2017</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

        <div class="job">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Seller</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Part-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/company.png" alt="Company">Prudêncio's 1,99<img class="locationImage" src="./assets/location.png" alt="Location">  Palhoça</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Jan 2010 - April 2011</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

    </div>

</div>

<div class="divBox">
    <div>
        <p class="colorTitle2 fontSize2 marginTitle">Education</p>
    </div>

    <div class="studies">
        <div class="study">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Information Systems Student</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Part-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/university.png" alt="University">Faculdade Venda do Novo Imigrante</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Fev 2023 - Dec 2026</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

        <div class="study">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Master in Physiotherapy</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Full-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/university.png" alt="University">Universidade do Estado de Santa Catarina</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Aug 2017 - Jul 2019</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

        <div class="study">
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 decor2">Graduated in Physiotherapy - Bachelor's Degree</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart decor2">Full-time</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4"><img class="calendarImage" src="./assets/university.png" alt="University">Universidade do Estado de Santa Catarina</p>
                </div>
                <div class="col-md-6">
                    <p class="colorTitle1 fontSize4 secondPart"><img class="calendarImage" src="./assets/calendar.png" alt="Calendar">Fev 2012 - Dex 2016</p>
                </div>
            </div>
            <div class="line">
                __________________________________________________________________________________________________
            </div>
        </div>

    </div>

</div>