<div class="divTitle4">
    <p class="colorTitle2 fontSize2">Projects</p>
    <p class="colorTitle1 fontSize3">Things Ive built so far</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Teorema de Pitágoras</h4>
                <p class="colorTitle1 marginProject">Esse projeto foi desenvolvido para realizar os cálculos do
                    Teorema de
                    Pitágoras que mostra a relação matemática entre os lados de um triângulo retângulo.
                    Foi um dos primeiros projetos que fiz totalmente sozinho. </p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://diegoprudencio.github.io/teoremaDePitagoras/"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://github.com/DiegoPrudencio/teoremaDePitagoras"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="Project image">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/instagramPage.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Réplica da Página do Instagram</h4>
                <p class="colorTitle1 marginProject">Código desenvolvido com o acompanhamento do professor para um 
                    curso básico de CCS e HTML. Foi realizado a réplica da página incial do Instagram no modo noturno.
                </p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>