<div class="divTitle4">
    <p class="colorTitle2 fontSize2">Projects</p>
    <p class="colorTitle1 fontSize3">Things Ive built so far</p>
</div>

<div class="container">
    <div class="row">
        <!-- <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 -->

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Pythagorean theorem</h4>
                <p class="colorTitle1 marginProject">This project was developed to perform the calculations of the
                    Pythagorean Theorem that shows the mathematical relationship between the sides of a right triangle.
                    It was one of the first projects I did completely alone and it was due for a job trial.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://diegoprudencio.github.io/teoremaDePitagoras/"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://github.com/DiegoPrudencio/teoremaDePitagoras"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/firstPortfolio.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">My first portfolio</h4>
                <p class="colorTitle1 marginProject">This project was my first portfolio. It was a simple project, but
                    when I was able to see it done and see that I had created it all by myself, it brought me
                    immeasurable joy.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://diegoprudencio.github.io/DiegoPrudencioPortfolio3/"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop"
                                href="https://github.com/DiegoPrudencio/DiegoPrudencioPortfolio3"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/instagramPage.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Instagram Page Replication</h4>
                <p class="colorTitle1 marginProject">Code developed with the supervision of the teacher for a basic CCS
                    and HTML course. The Instagram home page was replicated in night mode.
                </p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="Project image">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/instagramPage.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Réplica da Página do Instagram</h4>
                <p class="colorTitle1 marginProject">Código desenvolvido com o acompanhamento do professor para um 
                    curso básico de CCS e HTML. Foi realizado a réplica da página incial do Instagram no modo noturno.
                </p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block">
                <img class="projectFigure" src="./assets/teoremaDePitagoras.png" alt="github icon">
                <h4 class="colorTitle1 marginProject titleProject">Projeto Jogo de Tabuleiro</h4>
                <p class="colorTitle1 marginProject">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Eum libero
                    doloribus
                    blanditiis quaerat
                    earum eius nisi eligendi suscipit. Nemo, repellat assumenda? Obcaecati quas ad sunt quos hic
                    sint
                    quaerat nisi.</p>
                <p class="colorTitle1 marginProject">Teck stack: HTML, CSS, JS.</p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" id="imageLinkedin1" src="./assets/chainDark.png"
                                alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> Live Preview</a>
                        </div>
                        <div class="col-md-6">
                            <img class="iconLink iconLink2" src="./assets/githubDark.png" alt="">
                            <a class="colorTitle1 marginProject2 marginTop" href="#"> View Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->